// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font: {
		weight: 800;
		family: $headings-font-family;
	};
	margin: 0 0 0.5em;
	color: $headings-color;
}

h1, .h1 {
	font-size: $h1-font-size * .75;
	@include media('>=tablet') {
		font-size: $h1-font-size;
	}
	@include media('>=desktop') {
		font-size: calc(#{$h1-font-size} / 2 + #{$h1-font-size});
	}
	@include media('>=widescreen') {
		font-size: $h1-font-size * 2;
	}
}

h2, .h2 {
	font-size: $h2-font-size;
}

h3, .h3 {
	font-size: $h3-font-size;
}

h4, .h4 {
	font-size: $h4-font-size;
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0 0 1em;
}

a {
	outline: none;
	text-decoration: none;
	color: $base-link-color;
	transition: color $animation-speed linear;
	&:hover, &:focus {
		text-decoration: none;
	}
	&:not(.btn):hover {
		color: $base-link-hover-color;
	}
	&[download] {
		cursor: pointer;
	}
}

p {
	&:last-of-type, &:only-child {
		margin-bottom: 0 !important;
	}
}

blockquote {
	border: {
		width: 1px 0;
		style: solid;
		color: currentColor;
	};
	margin: 0;
	padding: 20px 0;
}