// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$white: #fff;

$gray: #999;

$dark-orange: #f37421;

$light-steel-blue: #b9c7d4;
$light-blue: #7cb5d8;
$blue: #0079c1;
$steel-blue: #80bce0;
$dark-slate-blue: #455560;

$dark-slate-gray: #455560;

$black: #000;

// Fonts
//$base-font-sans-serif: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-sans-serif: 'TradeGothicLTStd', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $black !default;
$base-background-color: $white !default;
$font-size-base: 1rem !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

$sidebar-width: 255px;

// Containers
$container-max-width: 1280px;
$container-gutter-width: 2rem;

// Liks
$base-link-color: $steel-blue;
$base-link-hover-color: $dark-orange;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: 3px 10px !default;
$form-element-border-color: $black !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $black !default;

// Headers
$h1-font-size: 32px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 16px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


// Table
$thead-bg: #edf1f4;
$cell-border-color: rgba($light-steel-blue, .5);
//$cell-bg-color: rgba($dark-orange, .05);
$cell-bg-color: #fef8f4;

$animation-speed: 0.27s;