.btn {
	outline: none;
	display: flex;
	font-weight: 600;
	align-items: center;
	padding: rem-calc(6 10);
	justify-content: center;
	transition: background $animation-speed ease-in-out;
}

.btn-primary {
	color: $white;
	background: $dark-orange;
	&:hover {
		background: darken($dark-orange, 10);
	}
}

.btn-secondary {
	color: $black;
	background: $light-steel-blue;
	&:hover {
		background: darken($light-steel-blue, 10);
	}
}

.nav-opener {
	position: relative;
	display: inline-flex;
	transform: translate3d(0, 0, 0);
	&:not(.close-btn) {
		width: rem-calc(26);
		height: rem-calc(26);
		align-items: flex-end;
		&:hover {
			&:before, &:after, span {
				background: $dark-orange;
			}
			span {
				transform: scaleX(1);
			}
		}
		&:before, &:after, span {
			transition: {
				property: background, transform;
				duration: $animation-speed;
				timing-function: ease-in-out;
			};
			left: 0;
			height: 2px;
			width: 100%;
			background: rgba($white, .5);
		}
		&:before, &:after {
			content: '';
			position: absolute;
		}
		&:before {
			top: 0;
		}
		&:after {
			top: 50%;
			transform: translate(0, -50%);
		}
		span {
			transform-origin: 0 0;
			transform: scaleX(.5);
		}
	}
}

.close-btn {
	color: $white;
	font-size: rem-calc(26);
	&:hover {
		color: $dark-orange;
	}
}

.anhor-link {
	color: $white;
	line-height: 0;
	&:hover {
		color: $dark-orange;
		[class^="icon-"] {
			transform: translate(0, 10px);
		}
	}
	[class^="icon-"] {
		line-height: 1;
		position: relative;
		display: inline-block;
		font-size: rem-calc(46);
		transition: transform $animation-speed ease-in-out;
	}
}

.collapse-btn {
	cursor: pointer;
	&:not(.mod) {
		border: {
			bottom-left-radius: 8em;
			bottom-right-radius: 8em;
		};
		display: flex;
		margin: 0 auto;
		width: rem-calc(64);
		align-items: center;
		height: rem-calc(32);
		justify-content: center;
		background: rgba($light-steel-blue, .5);
		&:hover {
			background: $light-steel-blue;
			[class^="icon-"] {
				transform: translate(0, 5px);
			}
		}
		[class^="icon-"] {
			color: $black;
		}
		.collapsed & {
			&:hover {
				[class^="icon-"] {
					transform: rotateX(180deg) translate(0, 5px);
				}
			}
		}
	}
	&.mod {
		@include media('<tablet') {
			padding: {
				top: rem-calc(14);
				bottom: rem-calc(13);
			};
			border-top: 2px solid $light-steel-blue;
		}
		@include media('>=tablet') {
			pointer-events: none;
		}
		[class^="icon-"] {
			font-size: rem-calc(16);
			@include media('>=tablet') {
				display: none;
			}
		}
	}
	.collapsed & {
		[class^="icon-"] {
			transform: rotateX(180deg);
		}
	}
	[class^="icon-"] {
		line-height: 1;
		font-size: rem-calc(18);
		transition: transform $animation-speed ease-in-out
	}
	.title {
		margin-bottom: 0;
	}
}

.btn-contact {
	z-index: 1;
	display: none;
	position: fixed;
	right: rem-calc(32);
	bottom: rem-calc(32);
	min-width: rem-calc(136);
	@include media('>=tablet-l') {
		display: flex;
	}
}