.lists-wrap {
	.lists-box {
		display: flex;
		@include media('<desktop') {
			flex-direction: column;
		}
		@include media('>=desktop') {
			flex-wrap: wrap;
		}
	}
	.title {
		@include media('>=tablet') {
			margin-bottom: rem-calc(10);
		}
	}
}

.list-info {
	@extend %listreset;
	display: flex;
	@include media('<phone') {
		flex-direction: column;
	}
	@include media('>=phone') {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	li {
		margin-bottom: rem-calc(14);
		@include media('>=phone') {
			width: 48%;
		}
		@include media('>=tablet-l') {
			width: 21%;
		}
	}
	.title {
		font-weight: 600;
		margin-bottom: 0;
	}
	.subtitle {
		font: {
			weight: 600;
			size: rem-calc(32);
		};
		line-height: 1;
		.small {
			font-size: rem-calc(16);
		}
		[class^="icon"] {
			font-size: rem-calc(22);
		}
	}
	.text-holder {
		opacity: .5;
		font-size: 12px;
		line-height: 1.33333;
	}
}

.facts-list {
	line-height: 1;
	> div {
		display: flex;
		padding: rem-calc(7 5 7);
		justify-content: space-between;
	}
	dt {
		font-weight: normal;
	}
}

.manegers-list {
	li {
		display: flex;
		padding: rem-calc(7 12);
	}
	.img-holder {
		flex-shrink: 0;
		margin-right: 15px;
		width: rem-calc(64);
		height: rem-calc(64);
	}
	.list-title {
		line-height: 1;
		margin-bottom: rem-calc(18);
	}
	.text {
		line-height: 1.333;
		font-size: rem-calc(12);
	}
}

.literature-list {
	li {
		padding: rem-calc(8 4 3 8);
	}
	.load-link {
		display: flex;
		justify-content: space-between;
	}
	[class^="icon-"] {
		font-size: rem-calc(14);
	}
}