.resize-active * {
	transition: none !important;
}

.container-fluid, .container {
	width: 100%;
	margin: 0 auto;
	padding: 0 #{$container-gutter-width};
}

.container {
	max-width: $container-max-width;
}

.section-header {
	.title {
		&:only-child {
			margin-bottom: 0 !important;
		}
	}
}

.anhor-holder {
	display: flex;
	justify-content: center;
}

.video-box {
	width: 100%;
	display: flex;
	position: relative;
	@include media('<tablet-l') {
		flex-direction: column;
	}
	&:not(.mod) {
		.video-text {
			padding: rem-calc(14 10);
			@include media('>=tablet') {
				left: 0;
				bottom: 0;
				position: absolute;
			}
		}
	}
	&.mod {
		.video-text {
			padding: rem-calc(18 0);
			@include media('>=tablet-l') {
				left: 0;
				bottom: 0;
				color: $white;
				position: absolute;
				padding: rem-calc(14 10);
			}
		}
		.title {
			@include media('<tablet-l') {
				font-size: rem-calc(12);
				margin-bottom: rem-calc(18);
			}
		}
	}
	.holder {
		width: 100%;
		position: relative;
		min-height: rem-calc(128);
		background: $dark-slate-gray;
		@include media('>=phone') {
			min-height: rem-calc(200);
		}
		@include media('>=tablet-l') {
			min-height: rem-calc(300);
		}
		@include media('>=desktop') {
			min-height: rem-calc(448);
		}
	}
	.img-holder {
		position: relative;
		&:after {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			position: absolute;
			background: linear-gradient(to bottom, rgba($black, 0) 0%,rgba($black, .5) 100%);
		}
	}
	.play-btn {
		top: 50%;
		left: 50%;
		position: absolute;
		width: rem-calc(48);
		height: rem-calc(48);
		transform: translate(-50%, -50%);
		transition: opacity $animation-speed linear;
		@include media('>=tablet') {
			width: rem-calc(96);
			height: rem-calc(96);
		}
		&:hover {
			opacity: .75;
		}
	}
	.video-text {
		.title {
			font-weight: 800;
		}
		.text {
			line-height: 1.333;
			font-size: rem-calc(12);
		}
	}
}