@charset "UTF-8";
/**
 * Deprecated
 * Fallback for bourbon equivalent
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include transform(scale(1.5));`
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include box-sizing(border-box);`
 */
/**
 * Objects
 */
#poststuff .inside table.simpled {
  width: 100%; }
  #poststuff .inside table.simpled td {
    font-size: 13px;
    line-height: 1.5em;
    padding: 8px 0; }
  #poststuff .inside table.simpled.lined td {
    border-bottom: 1px solid #e5e5e5; }
  #poststuff .inside table.simpled select {
    width: 100%; }
#poststuff #utheme-strategy-perfomance .inside,
#poststuff #utheme-strategy-composition .inside,
#poststuff #utheme-strategy-cap-gains .inside,
#poststuff #utheme-strategy-data .inside {
  padding: 0;
  margin: 0; }
#poststuff #utheme-strategy-perfomance table,
#poststuff #utheme-strategy-composition table,
#poststuff #utheme-strategy-cap-gains table,
#poststuff #utheme-strategy-data table {
  border: 0; }
  #poststuff #utheme-strategy-perfomance table th,
  #poststuff #utheme-strategy-composition table th,
  #poststuff #utheme-strategy-cap-gains table th,
  #poststuff #utheme-strategy-data table th {
    background: #e9ecef; }
  #poststuff #utheme-strategy-perfomance table textarea,
  #poststuff #utheme-strategy-perfomance table select,
  #poststuff #utheme-strategy-perfomance table input,
  #poststuff #utheme-strategy-composition table textarea,
  #poststuff #utheme-strategy-composition table select,
  #poststuff #utheme-strategy-composition table input,
  #poststuff #utheme-strategy-cap-gains table textarea,
  #poststuff #utheme-strategy-cap-gains table select,
  #poststuff #utheme-strategy-cap-gains table input,
  #poststuff #utheme-strategy-data table textarea,
  #poststuff #utheme-strategy-data table select,
  #poststuff #utheme-strategy-data table input {
    width: 100%; }
  #poststuff #utheme-strategy-perfomance table .delete,
  #poststuff #utheme-strategy-composition table .delete,
  #poststuff #utheme-strategy-cap-gains table .delete,
  #poststuff #utheme-strategy-data table .delete {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    font-size: 1.2em; }
    #poststuff #utheme-strategy-perfomance table .delete:before,
    #poststuff #utheme-strategy-composition table .delete:before,
    #poststuff #utheme-strategy-cap-gains table .delete:before,
    #poststuff #utheme-strategy-data table .delete:before {
      font-family: 'Dashicons';
      speak: none;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      text-indent: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      content: "";
      color: #999999;
      font-variant: normal;
      margin: 0px; }
    #poststuff #utheme-strategy-perfomance table .delete:hover:before,
    #poststuff #utheme-strategy-composition table .delete:hover:before,
    #poststuff #utheme-strategy-cap-gains table .delete:hover:before,
    #poststuff #utheme-strategy-data table .delete:hover:before {
      color: #a00; }
#poststuff #utheme-strategy-literature table th:last-child, #poststuff #utheme-strategy-literature table td:last-child {
  width: 1%; }
#poststuff #utheme-strategy-literature table th.column-file_url, #poststuff #utheme-strategy-literature table th.column-file_name, #poststuff #utheme-strategy-literature table td.column-file_url, #poststuff #utheme-strategy-literature table td.column-file_name {
  width: 50%; }
#poststuff #utheme-strategy-type.closed .inside {
  display: block; }
#poststuff #utheme-strategy-type .handlediv, #poststuff #utheme-strategy-type .hndle {
  display: none; }
#poststuff .postbox h3,
#poststuff .postbox .th-title {
  font-weight: 600;
  color: #333;
  margin: 1.33em 0 0;
  font-size: 14px; }

.pt-5 {
  padding-top: 5px; }

.input-group-append, .input-group-prepend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.input-group-append {
  margin-left: -1px; }

.input-group-prepend {
  margin-right: -1px; }

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem; }

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%; }
  .input-group > .form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin: 0; }
  .input-group > .input-group-append > .input-group-text {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .input-group > .input-group-prepend > .input-group-text {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.clear {
  clear: both; }

.u_post_data .panel-wrap {
  overflow: hidden;
  background: #fff; }
  .u_post_data .panel-wrap ul.u-tabs {
    margin: 0;
    width: 20%;
    float: left;
    line-height: 1em;
    padding: 0 0 10px;
    position: relative;
    background-color: #fafafa;
    border-right: 1px solid #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .u_post_data .panel-wrap ul.u-tabs li {
      margin: 0;
      padding: 0;
      display: block;
      position: relative; }
      .u_post_data .panel-wrap ul.u-tabs li a {
        margin: 0;
        padding: 10px;
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-decoration: none;
        line-height: 20px !important;
        border-bottom: 1px solid #eee; }
      .u_post_data .panel-wrap ul.u-tabs li.active a {
        color: #555;
        position: relative;
        background-color: #eee; }
    .u_post_data .panel-wrap ul.u-tabs:after {
      content: '';
      display: block;
      width: 100%;
      height: 9999em;
      position: absolute;
      bottom: -9999em;
      left: 0;
      background-color: #fafafa;
      border-right: 1px solid #eee; }
  .u_post_data .panel-wrap .panel, .u_post_data .panel-wrap .u_options_panel {
    padding: 0;
    color: #555; }
  .u_post_data .panel-wrap .u_options_panel {
    min-height: 175px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 80%;
    overflow-x: auto; }
    .u_post_data .panel-wrap .u_options_panel .options_group {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #eee;
      padding: 7px 0; }
      .u_post_data .panel-wrap .u_options_panel .options_group:last-child {
        border-bottom: 0; }
    .u_post_data .panel-wrap .u_options_panel p {
      margin: 9px 0;
      font-size: 12px;
      padding: 5px 9px;
      line-height: 24px; }
    .u_post_data .panel-wrap .u_options_panel .form-field {
      padding: 5px 20px 5px 162px !important; }
      .u_post_data .panel-wrap .u_options_panel .form-field textarea {
        margin: 0;
        border-style: solid;
        border-width: 1px;
        width: 95%; }
        .u_post_data .panel-wrap .u_options_panel .form-field textarea.short {
          width: 50%; }
      .u_post_data .panel-wrap .u_options_panel .form-field input {
        margin: 0; }
        .u_post_data .panel-wrap .u_options_panel .form-field input[type=text], .u_post_data .panel-wrap .u_options_panel .form-field input[type=number] {
          border-style: solid;
          border-width: 1px;
          width: 95%; }
          .u_post_data .panel-wrap .u_options_panel .form-field input[type=text].short, .u_post_data .panel-wrap .u_options_panel .form-field input[type=number].short {
            width: 50%; }
      .u_post_data .panel-wrap .u_options_panel .form-field .input-group {
        width: 95%; }
        .u_post_data .panel-wrap .u_options_panel .form-field .input-group input {
          min-width: 50px; }
        .u_post_data .panel-wrap .u_options_panel .form-field .input-group.short {
          width: 50%; }
        .u_post_data .panel-wrap .u_options_panel .form-field .input-group.middle {
          width: 60%; }
        .u_post_data .panel-wrap .u_options_panel .form-field .input-group input {
          width: auto; }
    .u_post_data .panel-wrap .u_options_panel h3 {
      padding: 0 0 10px 10px; }
    .u_post_data .panel-wrap .u_options_panel label {
      float: left;
      width: 150px;
      padding: 0;
      margin: 0 0 0 -150px; }
  .u_post_data .panel-wrap .toolbar {
    margin: 0 !important;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 9px 12px !important; }
    .u_post_data .panel-wrap .toolbar:last-child {
      border-bottom: 0; }
.u_post_data h2 {
  margin: 0;
  font-family: HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2;
  text-shadow: 1px 1px 1px #fff;
  padding: 0; }
.u_post_data .u_data_column_container {
  clear: both; }
  .u_post_data .u_data_column_container .u_data_column {
    width: 32%;
    padding: 0 2% 0 0;
    float: left; }
    .u_post_data .u_data_column_container .u_data_column:last-child {
      padding-right: 0; }

/*# sourceMappingURL=admin.css.map */
