.blockquote-item {
	@include media('>=tablet') {
		align-self: flex-end;
		margin-bottom: rem-calc(100);
	}
}

.blockquote-box {
	display: flex;
	.blockquote-holder {
		padding: {
			top: rem-calc(120);
			right: rem-calc(30);
		};
		width: 100%;
		@include media('>=widescreen') {
			padding: {
				top: rem-calc(159);
				right: rem-calc(150);
			};
		}
	}
}

.blockquote-img {
	width: 100%;
	display: flex;
	overflow: hidden;
	margin-right: -100%;
	justify-content: flex-end;
	.holder {
		display: flex;
		overflow: hidden;
		width: rem-calc(150);
		height: rem-calc(150);
		align-items: flex-end;
		justify-content: flex-end;
		background: linear-gradient(135deg, rgba($light-steel-blue,1) 0%, rgba($dark-slate-blue,1) 100%);
		@include media('>=tablet') {
			width: rem-calc(200);
			height: rem-calc(200);
		}
		@include media('>=desktop') {
			width: rem-calc(256);
			height: rem-calc(256);
		}
	}
	img {
		right: -10%;
		height: 95%;
		width: auto;
		position: relative;
	}
}

.blockquote {
	position: relative;
}

.blockquote-text {
	line-height: 1;
	position: relative;
	font-size: rem-calc(20);
	margin-bottom: rem-calc(15);
	@include media('>=tablet') {
		font-size: rem-calc(24);
	}
	@include media('>=desktop') {
		font-size: rem-calc(28);
	}
	&:before {
		top: 0;
		right: 100%;
		content: '"';
		position: absolute;
	}
}

.blockquote-footer {
	display: flex;
	line-height: 1.285714;
	flex-direction: column;
	font-size: rem-calc(14);
}

.section-process {
	@include media('<tablet') {
		padding-bottom: rem-calc(25);
	}
	.full-height.mod {
		align-items: stretch;
		.text-box {
			height: 100%;
			display: flex;
			flex-direction: column;
			.columns {
				flex-grow: 1;
			}
		}
	}
	.text-box {
		.section-header {
			margin-bottom: rem-calc(25);
		}
	}
	.columns {
		.section-header {
			margin-bottom: rem-calc(20);
		}
	}
}