.nav-panel {
	background: $light-steel-blue;
	.holder {
		display: flex;
		align-items: center;
		justify-content: center;
		@include media('<desktop') {
			flex-wrap: wrap;
		}
	}
	.form-holder {
		padding: rem-calc(7 0 0);
		margin-right: rem-calc(30);
		@include media('<tablet') {
			width: 50%;
		}
		@include media('>=tablet') {
			padding: rem-calc(9 0 0);
			margin-right: rem-calc(35);
		}
		@include media('>=desktop') {
			order: 0;
			padding: 0;
			margin-right: 0;
		}
		.fake-select-holder {
			max-width: rem-calc(255);
			@include media('>=tablet') {
				min-width: rem-calc(255);
			}
		}
	}
	.link-holder {
		@extend %listreset;
		display: flex;
		position: relative;
		font-size: rem-calc(12);
		padding: rem-calc(15 0 14);
		@include media('<tablet') {
			max-width: 38%;
		}
		@include media('>=tablet') {
			padding: rem-calc(24 0 23 33);
		}
		@include media('>=desktop') {
			order: 2;
			padding: 0;
		}
		&:before {
			left: 0;
			top: 50%;
			width: 2px;
			z-index: 2;
			height: 50%;
			position: absolute;
			transform: translate(0, -50%);
			background: rgba(#7f8e9a, .25);
			@include media('>=tablet', '<tablet-l') {
				content: '';
			}
		}
		li {
			&:not(:last-of-type) {
				margin-right: rem-calc(30);
				@include media('>=tablet') {
					margin-right: rem-calc(26);
				}
			}
		}
		.link {
			padding: 0;
			display: flex;
			align-items: center;
			background: transparent;
			@include media('<tablet') {
				flex-direction: column;
			}
			&:not(:hover) {
				color: $black;
			}
			[class^="icon-"] {
				margin: rem-calc(0 0 4);
				font-size: rem-calc(16);
				@include media('>=tablet') {
					margin: rem-calc(0 4 0 0);
				}
			}
		}
	}
}

.anchor-box {
	width: calc(100% + #{$container-gutter-width} * 2);
	@include media('<tablet-l') {
		margin: {
			left: -$container-gutter-width;
			right: -$container-gutter-width;
		};
		border-top: 2px solid rgba(#7f8e9a, .25);
	}
	@include media('>=tablet-l') {
		width: 100%;
	}
	@include media('>=desktop') {
		order: 1;
		max-width: 500px;
	}
	@include media('>=widescreen') {
		max-width: 698px;
	}
	.slick-track {
		padding: rem-calc(24 0);
	}
	[data-menuanchor] {
		&.active {
			a {
				color: $white;
			}
		}
	}
}

.section-fund {
	padding: rem-calc(31 0);
	@include media('>=tablet') {
		padding: rem-calc(35 0);
	}
	@include media('>=tablet-l') {
		padding: rem-calc(55 0);
	}
	@include media('>=desktop') {
		padding: rem-calc(100 0 50);
	}
	@include media('>=widescreen') {
		padding: rem-calc(131 0 73);
	}
	.section-header {
		margin-bottom: rem-calc(53);
		@include media('>=tablet-l') {
			margin-bottom: rem-calc(50);
		}
	}
}

.box-info {
	@include media('>=tablet-l') {
		margin-bottom: rem-calc(35);
	}
	@include media('>=widescreen') {
		margin-bottom: rem-calc(65);
	}
	.list-info {
		margin-bottom: rem-calc(13);
		@include media('>=tablet-l') {
			margin-bottom: rem-calc(25);
		}
		@include media('>=desktop') {
			margin-bottom: rem-calc(50);
		}
	}
}

.collapse-wrap {
	display: flex;
	@include media('<tablet-l') {
		flex-direction: column;
	}
	@include media('<tablet') {
		border-bottom: 2px solid $light-steel-blue;
	}
	@include media('>=tablet-l') {
		margin: rem-calc(0 -20);
		justify-content: space-between;
	}
	@include media('>=widescreen') {
		margin: rem-calc(0 -35);
	}
	> * {
		@include media('>=tablet-l') {
			margin: rem-calc(0 20);
		}
		@include media('>=widescreen') {
			margin: rem-calc(0 35);
		}
	}
	.collapse-btn {
		display: flex;
		color: $white;
		justify-content: space-between;
	}
	.title {
		font-weight: 800;
	}
	.text-info {
		@include media('>=tablet', '<tablet-l') {
			margin-bottom: rem-calc(50);
		}
		@include media('>=tablet-l') {
			width: calc(60% - 20px * 2);
		}
		@include media('>=desktop') {
			width: calc(45% - 20px * 2);
		}
		@include media('>=widescreen') {
			width: calc(50% - 35px * 2);
		}
		.title {
			@include media('>=tablet') {
				margin-bottom: rem-calc(13);
			}
		}
		.text-box {
			line-height: 1.5;
			font-size: rem-calc(16);
			.text-holder {
				@include media('<tablet') {
					padding-bottom: rem-calc(60);
				}
			}
		}
	}
	.lists-wrap {
		@include media('>=tablet-l') {
			width: calc(40% - 20px * 2);
		}
		@include media('>=desktop') {
			width: calc(55% - 20px * 2);
		}
		@include media('>=widescreen') {
			width: calc(50% - 35px * 2);
		}
	}
	.lists-box {
		@include media('>=tablet', '<tablet-l') {
			width: 50%;
			margin: 0 auto;
		}
		@include media('>=desktop') {
			margin: rem-calc(0 -20 -30);
		}
		@include media('>=widescreen') {
			margin: rem-calc(0 -35 -65);
		}
	}
	.list-item {
		@include media('>=tablet') {
			margin-bottom: rem-calc(30);
		}
		@include media('>=desktop') {
			margin: rem-calc(0 20 30);
			width: calc(50% - 20px * 2);
		}
		@include media('>=widescreen') {
			margin: rem-calc(0 32 65);
			width: calc(50% - 35px * 2);
		}
	}
}

.describe-box {
	line-height: 1.333;
	font-size: rem-calc(12);
	@include media('>=tablet-l') {
		margin-bottom: rem-calc(35);
	}
	@include media('>=widescreen') {
		margin-bottom: rem-calc(75);
	}
}

.section-commentary {
	padding: rem-calc(34 0 31);
	@include media('>=tablet') {
		padding: rem-calc(45 0 40);
	}
	@include media('>=tablet-l') {
		padding: rem-calc(65 0 50);
	}
	@include media('>=desktop') {
		padding: rem-calc(90 0 60);
	}
	@include media('>=widescreen') {
		padding: rem-calc(131 0 73);
	}
	.section-header {
		margin-bottom: rem-calc(26);
		@include media('>=tablet-l') {
			margin-bottom: rem-calc(35);
		}
		@include media('>=widescreen') {
			margin-bottom: rem-calc(49);
		}
	}
	.video-box {
		margin-bottom: rem-calc(12);
		@include media('>=tablet') {
			margin-bottom: rem-calc(25);
		}
		@include media('>=tablet-l') {
			margin-bottom: rem-calc(35);
		}
		@include media('>=desktop') {
			margin-bottom: rem-calc(50);
		}
		@include media('>=widescreen') {
			margin-bottom: rem-calc(65);
		}
	}
}

.portfolio-box {
	@include media('<tablet') {
		border: {
			style: solid;
			width: 2px 0;
			color: $light-steel-blue;
		}
	}
	.portfolio-list {
		@include media('<tablet') {
			padding-bottom: rem-calc(14);
		}
	}
}

.portfolio-box-title {
	font: {
		weight: 800;
		size: rem-calc(16);
	};
	@include media('>=tablet-l') {
		font-size: rem-calc(32);
		margin-bottom: rem-calc(26);
	}
	&.collapse-btn {
		@include media('<tablet') {
			border: none;
			display: flex;
			align-items: center;
			padding: rem-calc(16 0 6);
			justify-content: space-between;
		}
	}
}

.portfolio-list {
	@extend %listreset;
	li {
		@include media('>=desktop') {
			display: flex;
			justify-content: space-between;
		}
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
		&:not(:last-of-type) {
			margin-bottom: rem-calc(17);
			@include media('>=tablet') {
				margin-bottom: rem-calc(30);
			}
		}
	}
}

.portfolio-text-holder {
	@include media('>=desktop') {
		width: 64.397%;
		width: calc(100% - 256px - 7.031%);
	}
	&:not(:only-child) {
		@include media('>=tablet', '<desktop') {
			margin-bottom: rem-calc(15);
		}
	}
}

.portfolio-list-title {
	font: {
		weight: 800;
		size: rem-calc(12);
	};
	margin-bottom: rem-calc(18);
	@include media('>=tablet-l') {
		font-size: rem-calc(16);
		margin-bottom: rem-calc(14);
	}
}

.portfolio-list-text {
	line-height: 1.5;
}

.portfolio-list-img-wrap {
	flex-shrink: 0;
	@include media('>=tablet') {
		border: {
			style: solid;
			width: 2px 0;
			color: $light-steel-blue;
		};
		display: flex;
		justify-content: center;
		padding: rem-calc(10 0);
	}
	@include media('>=tablet-l') {
		align-items: center;
	}
	.holder {
		width: 100%;
		max-width: rem-calc(256);
	}
	.img-holder {
		margin: rem-calc(0 0 19);
	}
	.img-caption {
		line-height: 1;
		font-weight: 800;
		margin-bottom: rem-calc(17);
	}
	.btn-holder {
		margin-bottom: rem-calc(20);
		.btn {
			padding: {
				top: rem-calc(9);
				bottom: rem-calc(8);
			};
			width: 100%;
			display: inline-flex;
			font-size: rem-calc(12);
			align-items: flex-start;
			justify-content: center;
		}
		[class^="icon-"] {
			line-height: 1;
			font-size: rem-calc(13);
			margin-right: rem-calc(8);
		}
	}
}

.img-text-holder {
	font-size: rem-calc(12);
	line-height: 1.33333;
}

.section-gains {
	padding: rem-calc(34 0 36);
	@include media('>=tablet') {
		padding: rem-calc(45 0);
	}
	@include media('>=desktop') {
		padding: rem-calc(69 0);
	}
	.section-header {
		margin-bottom: rem-calc(56);
	}
	.datepicker-form {
		margin-bottom: rem-calc(31);
		@include media('>=widescreen') {
			margin-bottom: rem-calc(63);
		}
	}
	.table-holder {
		@include media('>=widescreen') {
			margin-bottom: rem-calc(177);
		}
	}
	.collapse-box {
		.text-box {
			p {
				margin-bottom: rem-calc(17);
			}
		}
	}
}