.section-hero {
	.container {
		padding: {
			top: rem-calc(37);
			bottom: rem-calc(30);
		};
		@include media('>=desktop') {
			padding: {
				top: rem-calc(55);
				bottom: rem-calc(55);
			};
		}
		@include media('>=widescreen') {
			padding: {
				top: rem-calc(75);
				bottom: rem-calc(75);
			};
		}
		&.mod {
			.section-header {
				@include media('>=desktop') {
					margin-bottom: rem-calc(26);
				}
			}
		}
	}
	.section-header {
		margin-bottom: rem-calc(53);
		&:not(.mod) {
			@include media('>=desktop') {
				margin-bottom: rem-calc(88);
			}
		}
	}
	.title {
		line-height: 1;
	}
	.text-holder {
		line-height: 1.5;
		margin-bottom: rem-calc(30);
		@include media('>=tablet') {
			margin-bottom: rem-calc(45);
		}
		@include media('>=desktop') {
			font-size: rem-calc(24);
			margin-bottom: rem-calc(66);
		}
	}
	.btn-holder {
		display: flex;
		justify-content: flex-end;
	}
	.btn-box {
		.btn {
			width: 100%;
			margin: 0 auto;
			max-width: rem-calc(256);
		}
	}
	.video-box {
		@include media('>=tablet') {
			margin-bottom: rem-calc(30);
		}
		@include media('>=desktop') {
			margin-bottom: rem-calc(64);
		}
	}
}

[class*="full-height"] {
	display: flex;
	min-height: 100vh;
	align-items: flex-end;
	&[class*="-center"] {
		align-items: center;
	}
}

.latest-news {
	.btn-box {
		.btn {
			width: 100%;
			margin: 0 auto;
			max-width: rem-calc(256);
		}
	}
}

.tab-section {
	@include media('>=tablet') {
		min-height: calc(100vh - 96px);
	}
	.container {
		padding: {
			top: rem-calc(34);
			bottom: rem-calc(20);
		};
		@include media('>=desktop') {
			padding: {
				top: rem-calc(55);
				bottom: rem-calc(55);
			};
		}
		@include media('>=widescreen') {
			padding: {
				top: rem-calc(75);
				bottom: rem-calc(75);
			};
		}
	}
	.section-header {
		margin-bottom: rem-calc(28);
		@include media('>=tablet') {
			margin-bottom: rem-calc(23);
		}
		.title {
			font-weight: 800;
		}
	}
	.text-holder {
		line-height: 1.5;
		margin-bottom: rem-calc(30);
		@include media('>=desktop') {
			line-height: 1.33333;
			font-size: rem-calc(24);
			margin-bottom: rem-calc(45);
		}
		@include media('>=widescreen') {
			margin-bottom: rem-calc(60);
		}
	}
}