.single-people {
  background: url("../images/people-single-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding: 126px 0 0;
  position: relative;
  .section-header {
    h2 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 34px;
    }
  }
  .text-box {
    max-width: 576px;
  }
  .years-info {
    margin:{
      top: 74px;
      bottom: 20px;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    strong {
      display: block;
      font-size: 64px;
      margin-bottom: -3px;
    }
  }
  .photo {
    text-align: center;
  }

  @include media('>=tablet') {
    padding:{
      bottom: 16px;
    }
    .text-box {
      width: 50%;
    }
    .years-info {
      margin-bottom: 0;
      font-size: 32px;
    }
    .photo {
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      width: 50%;
      max-width: 960px;
      img {
        width: 100%;
      }
    }
  }
  @include media('>=desktop') {
    padding: 291px 0 186px; //195+96
  }
}

.people-list {
  //margin: 0 32px;
  padding-bottom: 25px;
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      background: url("../images/people-list-bg.jpg") no-repeat 50% 50%;
      background-size: cover;
      width: 256px;
      height: 256px;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: center;
      align-items: flex-end;
      margin: 32px;
      .text {
        position: absolute;
        bottom: 14px;
        left: 16px;
        right: 16px;
        color: #ffffff;
      }
      .title {
        font-weight: 600;
        text-transform: uppercase;
      }
      .subtitle {
        font-size: 12px;
        margin-bottom: 15px;
      }
      a {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
  @include media('>=tablet') {
    ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      align-items: baseline;
    }
  }
  @include media('>=tablet-l') {
    ul {
      flex-wrap: nowrap;
    }
  }
  @include media('>=desktop') {
    padding: 96px 0 127px;
  }
}