.section-process {
	.section-header {
		@include media('>=desktop') {
			margin-bottom: rem-calc(50);
		}
	}
	.column-item {
		line-height: 1.5;
	}
}

.process-tab {
	@include media('>=desktop') {
		margin-bottom: rem-calc(75);
	}
	@include media('>=widescreen') {
		margin-bottom: rem-calc(116);
	}
	.tab-holder {
		padding-top: rem-calc(30);
		@include media('>=desktop') {
			padding-top: rem-calc(63);
		}
	}
	.img-holder {
		margin-bottom: rem-calc(20);
		@include media('>=desktop') {
			margin-bottom: rem-calc(35);
		}
	}
	.text-box {
		line-height: 1.5;
	}
}