.flex-container {
   display: flex;
   flex-flow: row wrap;
 }
.pull-right{
  float: right;
}
.switch {
  background-color: #fff;
  box-shadow: inset 0 -1px #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-top: 5px;
  padding: 3px;
  position: relative;
  vertical-align: top;
  width: 56px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}
.switch-input {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}
.switch-input:checked ~ .switch-label {
  background: #319DB5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-handle {
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
  left: 40px;
}
.switch-label {
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  display: block;
  font-size: 10px;
  height: inherit;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.switch-label:before {
  -moz-transition: inherit;
  -o-transition: inherit;
  -webkit-transition: inherit;
  color: #aaaaaa;
  content: attr(data-off);
  line-height: 1;
  margin-top: -0.5em;
  position: absolute;
  right: 7px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  top: 50%;
  transition: inherit;
}
.switch-label::after {
  -moz-transition: inherit;
  -o-transition: inherit;
  -webkit-transition: inherit;
  line-height: 1;
  margin-top: -0.5em;
  position: absolute;
  top: 50%;
  transition: inherit;
}
.switch-label:after {
  color: #fff;
  content: attr(data-on);
  left: 11px;
  opacity: 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label::before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label::after {
  opacity: 1;
}
.switch-handle {
  background: #fff;
  background-image: -moz-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  height: 18px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 18px;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  background: #f9f9f9;
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  content: '';
  height: 12px;
  left: 50%;
  margin: -6px 0 0 -6px;
  position: absolute;
  top: 50%;
  width: 12px;
}
u-app-sidebar {
  :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

u-app-sidebar,
u-content,
u-header,
u-footer{
  display: block;
}
u-app-sidebar {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  bottom: 0;
  left: auto;
  overflow: hidden;
  position: fixed;
  right: -320px;
  top: 0;
  -webkit-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  -ms-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  width: 320px;
  z-index: 1000;
  &.open {
    -moz-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
    -ms-transform: translate(-100%, 0);
    -o-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate3d(-100%, 0, 0);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
    display: block;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 0.15), Direction=180, Strength=2);
    transform: translate3d(-100%, 0, 0);
  }

  &:not(.open):not(.closing) u-header,
  &:not(.open):not(.closing) u-content {
    display: none;
  }

  a:hover{
    color: #f37421;
  }
  .fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
  }

  .fade.in {
    opacity: 1;
  }

  u-content{
    -webkit-overflow-scrolling: touch;
    background: #ffffff;
    bottom: 39px;
    color: #818181;
    height: auto;
    left: auto;
    overflow-x: hidden;
    position: absolute;
    right: auto;
    top: 78px;
    width: 320px;
    z-index: 1;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    transition: width 0.3s ease;
    input[type='text'], input[type='tel'], input[type='email'], input[type='search'], input[type='password'], textarea{
      width: 100%;
      -webkit-box-shadow: none !important;
      background-color: #ECEDEE;
      border: 1px solid #ECEDEE;
      box-shadow: none !important;
      color: #555555;
      display: inline-block;
      vertical-align: middle;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      transition: all 0.2s ease-out;

      font-size: 12px !important;
      height: 30px !important;
      line-height: 1.5;
      padding: 5px 10px;
      border-radius: 2px;
      &:hover{
        outline: 0px !important;
        -webkit-appearance: none;
      }
      &:focus {
        border-color: #333333;
      }
    }
    textarea {
      resize: none;
      vertical-align: top;
      height: 60px !important;
      &[rows="1"] {
        overflow: hidden;
      }
      &#u-custom-css{
        height: 360px !important;
      }
    }

    .tab-content {
      border-top: none;
      padding: 10px 0 0 0 ;
      position: relative;
      background-color: #fff;
      > .tab-pane {
        display: none;
      }
      > .active {
        display: block;
      }
      .title {
        color: #526a82;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 30px;
      }
      .settings {
        padding: 0 20px;
        .setting-group{
          padding-bottom: 10px;
          margin-bottom: 15px;
          position: relative;
          border-bottom: solid 1px #cccccc;
          &:last-child{
            border: none;
            margin: 0;
            padding: 0;
          }
          .u-remove-attr{
            color: #b2b3b4;
            position: absolute;
            right: 0;
            top: -8px;
            display: none;
            &:hover{
              color: #ff0000;
            }
          }
          &:hover{
            .u-remove-attr{
              display: block;
            }
          }

        }
        .setting{
          margin-bottom: 15px;
          font-size: 0.9em;
          span{
            display: block;
            margin-bottom: 5px;
          }
          &:after{
            content: '';
            display: block;
            height: 0;
            width: 100%;
            clear: both;
          }

        }
        .setting-info {
          color: #98A1A6;
          font-size: 12px;
          margin-top: 3px;
        }
        .switch {
          margin-top: -26px;
        }

      }
    }


  }


  u-header{
    background-color: #292C35;
    font-weight: 100;
    font-size: 12px;
    height: 72px;
    width: 320px;
    z-index: 10;

    ul.u-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
      > li {
        flex-grow: 1;
        text-align: center;
        margin-bottom: 0;
        position: relative;
        display: block;
        line-height: 25px;
        &:after {
          -webkit-backface-visibility: hidden;
          -webkit-transition: all .1s linear 0;
          background-color: #f55753;
          content: '';
          display: block;
          height: 0;
          transition: all .1s linear 0;
          width: 100%;
          z-index: 125;
        }
        > a {
          background: none;
          color: #909090;
          font-weight: 700;
          padding: 16px 10px;
          position: relative;
          display: block;
          text-transform: uppercase;
          margin-right: 2px;
          line-height: 1.42857143;
          &:before {
            display: none;
          }
        }
        &.active > a {
          cursor: default;
          background: none;
          color: #ffffff;
        }
      }
      &:after{
        display: table;
        content: '';
        width: 100%;
      }
    }

    .u-breadcrumb-wrapper{
      padding: 7px;
      border-top: solid 1px #cccccc;
      background: #f0f0f0;

      .breadcrumb {
        margin: 0;
        list-style: none;
        border-radius: 4px;
        background: none;
        display: inline-block;
        padding: 0;
        > li {
          display: inline-block;
          float: none;
          text-align: left;
          font-weight: 700;
          font-size: 12px;
          text-transform: uppercase;
          &.active {
            color: #333333;
          }
          a{
            color: #319DB5;
          }

          + li:before {
            color: #cccccc;
            content: ">";
            padding: 0 8px 0 5px;
            display: inline-block;
          }

        }
      }
    }
  }

  u-footer{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 5;
    .item-footer{
      padding: 9px 15px;
      background: #526a82;
      button{
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        background: #f37421;
      }
    }
  }

  #u-tab-dom{
    .u-dom-el-tag{
      color: red;
      text-transform: uppercase;
    }
    .u-dom-el-id{
      color: #1B607F;
    }
  }
}