[class*="bg-stretch"] {
	background: {
		size: cover;
		position: 50% 50%;
	};
	@include media('<tablet') {
		background-position: 21% 50%;
	}
	&[class*="-mod"] {
		position: relative;
		background-size: 0 0;
		&:before, &:after {
			left: 0;
			right: 0;
			content: '';
			position: absolute;
		}
		&:before {
			background: {
				size: cover;
				image: inherit;
				position: 50% 0;
			};
		}
		&:after {
			bottom: 0;
			height: 40%;
			background: $black;
		}
		&:before, .fade-bg:before {
			top: 0;
			height: 60%;
		}
		.fade-bg {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			&:before {
				width: 100%;
				content: '';
				position: absolute;
				background: linear-gradient(to bottom, rgba($black, .35) 0%,rgba($black, 1) 100%);
			}
		}
		> * {
			z-index: 1;
			position: relative;
		}
	}
}

[class*="bg-overlay"] {
	position: relative;
	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		position: absolute;
		background: linear-gradient(to bottom, rgba($white, 0) 0%,rgba($black, .45) 100%);
	}
	&[class*="-solid"]:before  {
		background-color: rgba($black, .3);
	}
	> * {
		position: relative;
	}
}

.bg-video-holder {
	background: {
		size: cover;
		position: 50% 50%;
	};
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	@include media('>=tablet') {
		background: none !important;
	}
	&.video-active .bg-video {
		opacity: 1;
	}
	.bg-video {
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		pointer-events: none;
		transition: opacity $animation-speed ease;
		@include media('<tablet') {
			display: none;
		}
	}
}