.collapse-box {
	font-size: rem-calc(12);
	.title {
		font-weight: 700;
		text-align: center;
		margin-bottom: rem-calc(10);
	}
	.text-box {
		line-height: 1.333333;
	}
}

.collapse-holder {
	&:not(.mod):not(.collapsed) {
		.collapse {
			max-height: rem-calc(50) !important;
			@include media('>=tablet') {
				max-height: rem-calc(64) !important;
			}
		}
	}
	&.mod {
		&:not(.collapsed) {
			.collapse {
				@include media('<tablet') {
					max-height: 0 !important;
				}
			}
		}
		.collapse {
			border-bottom: none;
		}
	}
}

.collapse {
	height: auto;
	overflow: hidden;
	transition: max-height $animation-speed linear;
	border-bottom: 1px solid rgba($light-steel-blue, .5);
}